# Python-2 test
## Task 1.
*(4 points)*
You have some dataset describing concentrations of five algae metabolites. For each algae
there is species name, its genus and its group.
* Using pandas library find the average concentration of each of the metabolite in each
aglae genus.
* Visualize the result using seaborn library.

In [22]:
import pandas as pd
import seaborn as sns

In [16]:
algae_matabolites = pd.read_csv("metabolites.csv")

algae_matabolites

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [17]:
df = pd.melt(algae_matabolites, id_vars = ['species', 'genus', 'group'], var_name = 'metabolite', value_name = 'value')
df

                 species        genus  group  metabolite     value
0      Fucus_vesiculosus        Fucus  brown     sucrose  3.001472
1    Saccharina_japonica   Saccharina  brown     sucrose  6.731070
2         Fucus_serratus        Fucus  brown     sucrose  3.276870
3        Fucus_distichus        Fucus  brown     sucrose  6.786996
4      Cladophora_fracta   Cladophora  green     sucrose  3.861470
5    Cladophora_compacta   Cladophora  green     sucrose  5.712284
6    Cladophora_gracilis   Cladophora  green     sucrose  2.452623
7       Palmaria_palmata     Palmaria    red     sucrose  0.704580
8   Saccharina_latissima   Saccharina  brown     sucrose  1.636122
9    Ascophyllum_nodosum  Ascophyllum  brown     sucrose  6.825467
10     Fucus_vesiculosus        Fucus  brown      alanin  3.711498
11   Saccharina_japonica   Saccharina  brown      alanin  1.255251
12        Fucus_serratus        Fucus  brown      alanin  0.346431
13       Fucus_distichus        Fucus  brown      alanin  6.641303
14     Cladophora_fracta   Cladophora  green      alanin  1.648450
15   Cladophora_compacta   Cladophora  green      alanin  3.461692
16   Cladophora_gracilis   Cladophora  green      alanin  6.881024
17      Palmaria_palmata     Palmaria    red      alanin  3.176440
18  Saccharina_latissima   Saccharina  brown      alanin  5.793163
19   Ascophyllum_nodosum  Ascophyllum  brown      alanin  0.875429
20     Fucus_vesiculosus        Fucus  brown     citrate  5.004262
21   Saccharina_japonica   Saccharina  brown     citrate  5.621499
22        Fucus_serratus        Fucus  brown     citrate  1.216767
23       Fucus_distichus        Fucus  brown     citrate  6.423606
24     Cladophora_fracta   Cladophora  green     citrate  6.940588
25   Cladophora_compacta   Cladophora  green     citrate  3.082826
26   Cladophora_gracilis   Cladophora  green     citrate  5.841520
27      Palmaria_palmata     Palmaria    red     citrate  5.573905
28  Saccharina_latissima   Saccharina  brown     citrate  1.071920
29   Ascophyllum_nodosum  Ascophyllum  brown     citrate  5.253527
30     Fucus_vesiculosus        Fucus  brown     glucose  2.548459
31   Saccharina_japonica   Saccharina  brown     glucose  6.013219
32        Fucus_serratus        Fucus  brown     glucose  3.623225
33       Fucus_distichus        Fucus  brown     glucose  2.272724
34     Cladophora_fracta   Cladophora  green     glucose  2.316955
35   Cladophora_compacta   Cladophora  green     glucose  3.343707
36   Cladophora_gracilis   Cladophora  green     glucose  2.740165
37      Palmaria_palmata     Palmaria    red     glucose  3.242090
38  Saccharina_latissima   Saccharina  brown     glucose  3.947968
39   Ascophyllum_nodosum  Ascophyllum  brown     glucose  3.414961
40     Fucus_vesiculosus        Fucus  brown  oleic_acid  6.405165
41   Saccharina_japonica   Saccharina  brown  oleic_acid  4.156700
42        Fucus_serratus        Fucus  brown  oleic_acid  0.304573
43       Fucus_distichus        Fucus  brown  oleic_acid  3.393203
44     Cladophora_fracta   Cladophora  green  oleic_acid  2.528886
45   Cladophora_compacta   Cladophora  green  oleic_acid  1.432514
46   Cladophora_gracilis   Cladophora  green  oleic_acid  2.829016
47      Palmaria_palmata     Palmaria    red  oleic_acid  2.245538
48  Saccharina_latissima   Saccharina  brown  oleic_acid  4.817804
49   Ascophyllum_nodosum  Ascophyllum  brown  oleic_acid  2.432526

In [19]:
df['metabolite'] = df[['genus', 'metabolite']].agg('-'.join, axis = 1)
df

,species,genus,group,metabolite,value
0,Fucus_vesiculosus,Fucus,brown,Fucus-Fucus-sucrose,3.001472
1,Saccharina_japonica,Saccharina,brown,Saccharina-Saccharina-sucrose,6.731070
2,Fucus_serratus,Fucus,brown,Fucus-Fucus-sucrose,3.276870
3,Fucus_distichus,Fucus,brown,Fucus-Fucus-sucrose,6.786996
4,Cladophora_fracta,Cladophora,green,Cladophora-Cladophora-sucrose,3.861470
5,Cladophora_compacta,Cladophora,green,Cladophora-Cladophora-sucrose,5.712284
6,Cladophora_gracilis,Cladophora,green,Cladophora-Cladophora-sucrose,2.452623
7,Palmaria_palmata,Palmaria,red,Palmaria-Palmaria-sucrose,0.704580
8,Saccharina_latissima,Saccharina,brown,Saccharina-Saccharina-sucrose,1.636122
9,Ascophyllum_nodosum,Ascophyllum,brown,Ascophyllum-Ascophyllum-sucrose,6.825467
10,Fucus_vesiculosus,Fucus,brown,Fucus-Fucus-alanin,3.711498
11,Saccharina_japonica,Saccharina,brown,Saccharina-Saccharina-alanin,1.255251
12,Fucus_serratus,Fucus,brown,Fucus-Fucus-alanin,0.346431
13,Fucus_distichus,Fucus,brown,Fucus-Fucus-alanin,6.641303
14,Cladophora_fracta,Cladophora,green,Cladophora-Cladophora-alanin,1.648450
15,Cladophora_compacta,Cladophora,green,Cladophora-Cladophora-alanin,3.461692
16,Cladophora_gracilis,Cladophora,green,Cladophora-Cladophora-alanin,6.881024
17,Palmaria_palmata,Palmaria,red,Palmaria-Palmaria-alanin,3.176440
18,Saccharina_latissima,Saccharina,brown,Saccharina-Saccharina-alanin,5.793163
19,Ascophyllum_nodosum,Ascophyllum,brown,Ascophyllum-Ascophyllum-alanin,0.875429
20,Fucus_vesiculosus,Fucus,brown,Fucus-Fucus-citrate,5.004262
21,Saccharina_japonica,Saccharina,brown,Saccharina-Saccharina-citrate,5.621499
22,Fucus_serratus,Fucus,brown,Fucus-Fucus-citrate,1.216767
23,Fucus_distichus,Fucus,brown,Fucus-Fucus-citrate,6.423606
24,Cladophora_fracta,Cladophora,green,Cladophora-Cladophora-citrate,6.940588
25,Cladophora_compacta,Cladophora,green,Cladophora-Cladophora-citrate,3.082826
26,Cladophora_gracilis,Cladophora,green,Cladophora-Cladophora-citrate,5.841520
27,Palmaria_palmata,Palmaria,red,Palmaria-Palmaria-citrate,5.573905
28,Saccharina_latissima,Saccharina,brown,Saccharina-Saccharina-citrate,1.071920
29,Ascophyllum_nodosum,Ascophyllum,brown,Ascophyllum-Ascophyllum-citrate,5.253527
30,Fucus_vesiculosus,Fucus,brown,Fucus-Fucus-glucose,2.548459
31,Saccharina_japonica,Saccharina,brown,Saccharina-Saccharina-glucose,6.013219
32,Fucus_serratus,Fucus,brown,Fucus-Fucus-glucose,3.623225
33,Fucus_distichus,Fucus,brown,Fucus-Fucus-glucose,2.272724
34,Cladophora_fracta,Cladophora,green,Cladophora-Cladophora-glucose,2.316955
35,Cladophora_compacta,Cladophora,green,Cladophora-Cladophora-glucose,3.343707
36,Cladophora_gracilis,Cladophora,green,Cladophora-Cladophora-glucose,2.740165
37,Palmaria_palmata,Palmaria,red,Palmaria-Palmaria-glucose,3.242090
38,Saccharina_latissima,Saccharina,brown,Saccharina-Saccharina-glucose,3.947968
39,Ascophyllum_nodosum,Ascophyllum,brown,Ascophyllum-Ascophyllum-glucose,3.414961
40,Fucus_vesiculosus,Fucus,brown,Fucus-Fucus-oleic_acid,6.405165
41,Saccharina_japonica,Saccharina,brown,Saccharina-Saccharina-oleic_acid,4.156700
42,Fucus_serratus,Fucus,brown,Fucus-Fucus-oleic_acid,0.304573
43,Fucus_distichus,Fucus,brown,Fucus-Fucus-oleic_acid,3.393203
44,Cladophora_fracta,Cladophora,green,Cladophora-Cladophora-oleic_acid,2.528886
45,Cladophora_compacta,Cladophora,green,Cladophora-Cladophora-oleic_acid,1.432514
46,Cladophora_gracilis,Cladophora,green,Cladophora-Cladophora-oleic_acid,2.829016
47,Palmaria_palmata,Palmaria,red,Palmaria-Palmaria-oleic_acid,2.245538
48,Saccharina_latissima,Saccharina,brown,Saccharina-Saccharina-oleic_acid,4.817804
49,Ascophyllum_nodosum,Ascophyllum,brown,Ascophyllum-Ascophyllum-oleic_acid,2.432526

In [25]:
statistics = df.groupby('metabolite')[['value']].mean()

statistics

                                       value
metabolite
Ascophyllum-Ascophyllum-alanin      0.875429
Ascophyllum-Ascophyllum-citrate     5.253527
Ascophyllum-Ascophyllum-glucose     3.414961
Ascophyllum-Ascophyllum-oleic_acid  2.432526
Ascophyllum-Ascophyllum-sucrose     6.825467
Cladophora-Cladophora-alanin        3.997055
Cladophora-Cladophora-citrate       5.288311
Cladophora-Cladophora-glucose       2.800276
Cladophora-Cladophora-oleic_acid    2.263472
Cladophora-Cladophora-sucrose       4.008792
Fucus-Fucus-alanin                  3.566411
Fucus-Fucus-citrate                 4.214878
Fucus-Fucus-glucose                 2.814803
Fucus-Fucus-oleic_acid              3.367647
Fucus-Fucus-sucrose                 4.355112
Palmaria-Palmaria-alanin            3.176440
Palmaria-Palmaria-citrate           5.573905
Palmaria-Palmaria-glucose           3.242090
Palmaria-Palmaria-oleic_acid        2.245538
Palmaria-Palmaria-sucrose           0.704580
Saccharina-Saccharina-alanin        3.524207
Saccharina-Saccharina-citrate       3.346710
Saccharina-Saccharina-glucose       4.980594
Saccharina-Saccharina-oleic_acid    4.487252
Saccharina-Saccharina-sucrose       4.183596

In [ ]:
# sns.set(style="whitegrid")

stat_plot = sns.barplot(x = "value", y = "metabolite", data = statistics)
stat_plot.set_title("Metabolite stat")

stat_plot

## Task 2.

*(4 points)*

You have noticed that map() function returns something different than list. Simply saying, it
returns iterator. Up to this point, we used list(map(...)) syntax, but remember that iterators in
some cases are more preferable than lists.
This task is devoted to understanding how iterators work.
* First create iterator via my_iter = map(lambda ...) construction that takes [1,2,3,4,5,6]
and returns True if there is no remainder after division of the list’s element on 3 and
returns False otherwise.
* In infinite loop proceed the iterator using the next() function on it. Observe the appearing
error in this loop.
* Write except block catching this particular error.
* Based on this usecase try to understand in which cases iterators might be more
preferable than lists.

In [11]:
my_iter = map(lambda x: True if x % 3 == 0 else False, 
              [1, 2, 3, 4, 5, 6])

In [4]:
next(my_iter)

True

In [9]:
while True:
    i = next(my_iter)
    print(i)

False
False
True
False
False
True

StopIteration:

In [12]:
while True:
    try:
        i = next(my_iter)
        print(i)
    except StopIteration:
        break

False
False
True
False
False
True

### Task 3

*(4 points)*

In this task, you need to use API of numbersapi.com site.
You are given a set of numbers: 17, 45, 999, 1883. For each of the numbers, you need to find
out if there is an interesting mathematical or historical fact about it. The answer should contain
these facts marked as “math” or “hist”.

In [22]:
import requests

# proxies = {
#   'http': 'http://134.209.29.120',
#   'https': 'http://82.119.170.106',
# }

# requests.get('http://example.org')

requests.get('http://example.org', proxies=proxies)

In [19]:
numbers = [17, 45, 999, 1883]

In [20]:
urls = ["http://numbersapi.com/" + str(number) + "/math?json=true" for number in numbers]
urls

['http://numbersapi.com/17/math?json=true',
 'http://numbersapi.com/45/math?json=true',
 'http://numbersapi.com/999/math?json=true',
 'http://numbersapi.com/1883/math?json=true']